<!DOCTYPE html>
<html>
  <head>
    <title>Legit News</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="//js.honeybadger.io/v0.5/honeybadger.min.js" type="text/javascript" data-apiKey="ebe5367e"></script>
  </head>

  <body>
  <%= render 'shared/navbar' %>
  <%= render 'shared/flash' %>
  <div id="container" class="container">

    <%= yield %>
  </div>
  </body>
</html>
